
<head>
<link href='http://fonts.googleapis.com/css?family=Bigelow+Rules' rel='stylesheet' type='text/css'>

</head>

<div id ="heading">
<h1><a href="/" ><span id="cheese">Mots</span>arella</a></h1>
<h2>One person MadLibs</h2>
</div>
<div id="container">
<h3>We take internet procrastination to the next level.</h3>
<p>Ever really wanted to play MadLibs but couldn't find a friend who shared your bizarre passion for word games? Motsarella is here for you. Let us create a version of your favorite word game, either from text you input or from random internet sources. Get started below:</p>
<p><%= link_to 'Create new Motsarella', "/libs/new" %></p>
<hr />
<h3>Additional resources provided by the following</h3>
<img src="http://upload.wikimedia.org/wikipedia/en/thumb/3/32/Merriam-Webster_logo.svg/300px-Merriam-Webster_logo.svg.png" alt="Dictionary" id="dict" />
</div>
