
<head>
<link href='http://fonts.googleapis.com/css?family=Bigelow+Rules' rel='stylesheet' type='text/css'>

</head>

<div id ="heading">
<h1><a href="/" ><span id="cheese">Mots</span>arella</a></h1>
<h2>One person MadLibs</h2>
</div>
<div id="container">
<p>Ever really wanted to play MadLibs but couldn't find a friend who shared your bizarre passion for word games? Motsarella is here for you. Let us create a version of your favorite word game, either from text you input or from random internet sources. Get started below:</p>
<p><%= link_to 'Create new Motsarella', "/libs/new" %></p>
<!--<%= link_to "My Motsarella", controller: "libs" %>-->
</div>
