/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	padding:0;
	margin: 0;
	word-wrap:break-word;
	background-color: #f5f5f5;


}
#heading {
	height:80px;
	padding: 0;
	margin-left:auto;
	margin-right:auto;
	max-width:600px;
	padding:30px;
	margin-bottom: 0px;
	font-family: 'Bigelow Rules', sans-serif;


}
#heading a {
	color:inherit;
	text-decoration:none;
}
#heading #cheese {
	color:#9b02fc;

}

#heading h1 {
	padding-top:10px;
	padding-left: 30px;
	color:#444;
	position:relative;
	top:-75px;
	font-size: 80px;
}
#heading h2 {
	text-align:right;
	padding-right:20px;
	position:relative;
	color:#444;
	top:-170px;
	font-size: 50px;

}

/*---------------------COTNAINER----------------------*/
#container {

	margin-left:auto;
	margin-right: auto;
	min-width:300px;
	max-width:600px;
	border:1px solid #eee;
	font-family: sans-serif;
	padding:30px;
	padding-top: 0px;
	background-color: #fff;
	word-wrap:break-word;
	border:5px dotted #00ff00;
	margin-bottom:20px;
}
#container a, #container a:visited {
	color:#03ad1f;
}
/*------------------------FORMS------------------------*/
form {
	text-align: right;
}

label{
	float:left;
}

.hideme {
	display:none;
}
.ha {
	color:#9b02fc;
	font-weight:bold;
}
.madlibs {
	line-height:200%;
	font-size: 120%;
}
#dict {
	height:100px;
	width: 100px;
}